<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проекты фирмы</title>
</head>
<body>
<form th:method="POST" th:action="@{/projects/create}" th:object="${project}">
    <label for="name">Введите имя проекта:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="name">Введите номер департамента:</label>
    <input type="number" th:field="*{department.id}" id="department"/>
    <br/>
    <label for="name">Введите дату начала:</label>
    <input type="date" th:field="*{dateBeg}" id="dateBeg"/>
    <br/>
    <label for="name">Введите ожидаемую дату завершения:</label>
    <input type="date" th:field="*{dateEnd}" id="dateEnd"/>
    <br/>
    <input type="submit" value="Создать">
</form>
</body>
</html>